@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<GerenciamentoEvento.Models.Evento>
@{
    ViewData["Title"] = "Home";
}
<style>

.card-title{font-style:italic;}
#icon{
  align-content: center;
  width: 150px;
  height: 150px; margin-left: 25%; margin-top: 5%
}




</style>


<script>

    $('.carousel').carousel({
  interval: 200
})

</script>

<!----Body-->

<div class="jumbotron jumbotron-fluid" style="background-color: #6E3667; color:white;">
  <div class="container">
    <h1 class="display-4" id="titulo">Eventos.com</h1>
   
    <p class="lead"> Encontre sua nova experiência musical!</p>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner mw-100" >

    <div class="carousel-item active" id="slider">
      <img class="d-block mw-100 img-fluid" src="https://cdn.wegow.com/media/events/los-alamos-beach-festival-2019/los-alamos-beach-festival-2019-1540199838.49.2560x1440.jpg" alt="Primeiro Slide">
    </div>

    <div class="carousel-item mw-100" id="slider">
      <img class="d-block mw-100 img-fluid" src="https://abrilexame.files.wordpress.com/2018/10/l121.jpg" alt="Segundo Slide">
    </div>

    <div class="carousel-item mw-100" id="slider">
      <img class="d-block mw-100 img-fluid" src="https://abrilveja.files.wordpress.com/2019/09/10159926-high.jpeg" alt="Terceiro Slide">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<div class="accordion" id="accordionExample">
  <div class="card" style="background-color: #6E3667; color:white;">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Saiba mais!
        </button>
      </h5>
    </div>
  <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body"  style="background-color: whitesmoke; color: black;">
        A Eventos.com é um site de compra de ingressos. Aqui você pode pode adquirir tickets capazes de conceder experiências que jamais sairão da sua cabeça,igual
         aquela música chiclete do último carnaval.
      </div>
    </div>
  </div>
  <div class="card"  style="background-color: #6E3667; color:white;">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
</div>
</div>

<div class="row" style="text-align: justify">
<div class="card col-md-4" style="width: 18rem;" style="display:flex;justify-content:center;align-items:center;width:4px;">
  <img class="card-img-top img-fluid" id="icon" src="https://image.flaticon.com/icons/svg/1067/1067090.svg"  >
  <div class="card-body">
    <h5 class="card-title">Descura sua nova experiência musical!</h5>
    <p class="card-text"><p>Confira a lista de shows, seus locais e preços.</p>
    <a href="/Eventos/Home" class="btn btn-dark btn-lg" style="background-color: #6E3667 ;">Shows!</a>
  </div>
</div>
<div class="card col-md-4" style="width: 18rem;" >
  <img class="card-img-top img-fluid" id="icon" src="https://image.flaticon.com/icons/svg/812/812520.svg" >
  <div class="card-body">
    <h5 class="card-title">Crie sua Conta!</h5>
    <p class="card-text">Com sua conta  Eventos.com você recebe as últimas atualizações de todos os show de sua região, além de descontos exclusivos.</p>
     <a href="/Identity/Account/Login"data-toggle="modal" data-target="#exampleModal" class="btn btn-dark btn-lg" style="background-color:#88D317;">Entre ou Crie Agora! </a> 
<!---Modal--->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Você ja tem uma conta Eventos.com?</</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Faça o seu login ou Cadastre-se!</p>
      </div>
      <div class="modal-footer">
        <a type="button" href="/Identity/Account/Register" class="btn btn-toolbar">Cadastre-se</a>
        <a type="button" href="/Identity/Account/Login" class="btn btn-toolbar"> Login</a>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<!---Modal--->

<div class="card col-md-4" style="width: 18rem;">
  <img class="card-img-top img-fluid" id="icon" src="https://image.flaticon.com/icons/svg/2445/2445641.svg" >
  <div class="card-body">
    <h5 class="card-title">Ingressos</h5>
    <p class="card-text">Aqui você encontra ingressos exclusivos dos eventos mais balados do momento. Finalize sua compra e garanta seu espaço no próximo momento épico de sua vida.</p>
    <a href="#" class="btn btn-dark btn-lg" style="background-color:#535353;" >Carrinho >> </a>
  </div>
</div>
